@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
  --color-bg-dark: #1E2A38;
  --color-accent: #B8A4FF;
  --color-bg-light: #E8ECF3;
  --color-highlight: #FFD86B;
  --color-text: #F8F9FB;
  --color-subtext: #AAB2C8;
}

body {
    font-family: poppins;
    background-color: #F3F4F8;
    color: #2A2A2A;
}

a {
    text-decoration: none;
    color: #F3F4F8;
}

.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    background-color: #1E2A38;
    padding: 16px;
    position: fixed;
    width: 100%;
    height: 150px;
    top: 0;
    left: 0;    
    top: 0;
    box-shadow: 10px 0px 10px #2c2c2c;
    z-index: 999;
    color: #F3F4F8;
}

.navbar>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    display: flex;
    align-items: center;
}

.navbar .logo img {
    width: 150px;
    height: 150px;
    margin-right: 10px;
}

.navbar .logo h1 {
    font-size: 40px;
    color:#7FB3F4;
}

.navbar .logo span {
    color: #FFD86B;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 25px;
    cursor: pointer;
}

.navbar ul li:hover {
    transform: translateY(-5px);
    transition: all 0.5s ease;
    font-weight: bold;
    color: #FFD86B;
}

.navbar .item img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

/*SECTION HEADER*/

.header-bg {
    position: relative;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255,0)), url(media/hero-pajamas\ \(2\).jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    display: flex;
    margin-top: 120px;
    box-shadow: 20px 1px 20px black;
}

.container .header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 60%;
    height: 70vh;
}

.header-text h1 {
    margin-top: 30%;
    font-size: 90px;
}

.header-text span {
    color: #2C5EA8;
}

.header-text p {
    font-size: 28px;
    color: #3A3A3A;
}

.header-text button {
    margin-top: 40px;
    background-color:#2C5EA8;
    border: none;
    cursor: pointer;
    padding: 1.4rem 3.8rem;
    width: 300px;
    color: white;
    border-radius: 999px;
    font-weight: 700;
    font-size: 1.4rem;
}

.header-text button:hover {
    transform: scale(1.05);
    transition: 0.5s ease;
    background-color: #3A66C1;
    color: #ffffff;
}

/*SEÇÃO SOBRE*/

.sobre-section .container {
    max-width: 1240px;
}

.sobre-section .sobre {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.geral-title h1 {
    text-align: center;
    margin-top: 100px;
    font-size: 70px;
    line-height: 80px;
    margin-bottom: 40px;
}

.geral-title span {
    color: #2C5EA8;
    
}

.geral-p {
    text-align: center;
    font-size: 24px;
    line-height: 40px;
}

.sobre-section {
    margin-bottom: 140px;
}

/*COLECAO*/

.colecao .geral-p {
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
}

.product .img-product img {
    width: 320px;
    height: 450px;
    border-radius: 50px;
}

.coluna {
    display: grid;
    justify-content: space-evenly;
    padding: 4rem 1rem;
}

.coluna>*{
    cursor: pointer;
    transition: all 0.2s;
}

.coluna>*:hover {
    transform: translateY(-5px);
}

.coluna-4 {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.product {
    color: #2c2c2c;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
}

.p-product {
    margin-top: 24px;
    font-size: 22px;
}

.p-price {
    font-size: 30px;
    font-weight: 600;
    color: #3A66C1;
}

.colecao .button {
    display: flex;
    justify-content: center;
}

 .colecao button {
    margin-top: 40px;
    background-color:#2C5EA8;
    border: none;
    cursor: pointer;
    padding: 0.8rem 3.8rem;
    width: 280px;
    color: white;
    border-radius: 999px;
    font-weight: 700;
    font-size: 1.4rem;
    margin-bottom: 20px;
}

 .colecao button:hover {
    transform: scale(1.05);
    transition: 0.5s ease;
    background-color: #3A66C1;
    color: #ffffff;
}

/*BENEFICIOS*/

.cards {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

.card {
    margin-top: 20px;
    height: 350px;
    width: 500px;
    border-radius: 20px;
    transition: all 0.3s ease;
    padding: 20px;
    text-align: center;
    margin: 20px;
}

.card h1 {
    font-size: 34px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card p {
    font-size: 20px;
}

.card:hover {
    border: 2px solid #2C5EA8;
    transform: translateY(-5px);
}

.card .icon {
    font-size: 50px;
    color: #2C5EA8;
    margin-top: 20px;
}