@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
  --color-bg-dark: #1E2A38;
  --color-accent: #B8A4FF;
  --color-bg-light: #E8ECF3;
  --color-highlight: #FFD86B;
  --color-text: #F8F9FB;
  --color-subtext: #AAB2C8;
}

body {
    font-family: poppins;
    background-color: #F3F4F8;
    color: #2A2A2A;
}

.container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    background-color: #A3BCE8;
    padding: 16px;
    position: sticky;
    top: 0;
    box-shadow: 10px 0px 10px #2c2c2c;
    z-index: 999;
    color: #F3F4F8;
}

.navbar>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    display: flex;
    align-items: center;
}

.navbar .logo img {
    width: 150px;
    height: 150px;
    margin-right: 10px;
}

.navbar .logo h1 {
    font-size: 40px;
    color:#3A5BA0;
}

.navbar .logo span {
    color: #FFD86B;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 25px;
    cursor: pointer;
}

.navbar ul li:hover {
    transform: translateY(-5px);
    transition: all 0.5s ease;
    font-weight: bold;
    color: #FFD86B;
}

.navbar .item img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

/*SECTION HEADER*/

.header-bg {
    position: relative;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255,0)), url(media/ChatGPT\ Image\ 6\ de\ nov.\ de\ 2025\,\ 21_01_41.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
}

.container .header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 60%;
    height: 70vh;
}

.header-text h1 {
    margin-top: 30%;
    font-size: 90px;
}

.header-text span {
    color: #9EB8FF; 
}

.header-text p {
    font-size: 28px;
    color: #3A3A3A;
}

.header-text button {
    margin-top: 40px;
    background-color:#7FB3F4;
    border: none;
    cursor: pointer;
    padding: 1.4rem 3.8rem;
    width: 300px;
    color: white;
    border-radius: 999px;
    font-weight: 700;
    font-size: 1.4rem;
}

.header-text button:hover {
    transform: scale(1.05);
    transition: 0.8s ease;
    background-color: #CBB8FF;
}
